table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 300px;
    text-align: center;
    
 }





 .form {
     border: 2px solid black;
     width: 850px;
 }

 .table {
     width: 860px;
 }


 .submitBtn, .resetBtn {
    background: #0066a2;
    cursor: pointer;
    color: white;
    border: 1px solid black;
    height: 40px;
    width: 100px;
    margin: 10px;
    
}

.deleteBtn{
    background: #0066a2;
    cursor: pointer;
    color: white;
    border: 1px solid black;
    height: 25px;
    width: 25px;
    margin: 2px;
}

.header {
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 15px;
    font-weight: bold;
}

.inputBox {
    font-size: 10px;
    margin: 3px;
}

.tRow {
    font-weight: bold;
}

td {
    color: blue;
}